.text_p1 {

    font-size: 28px; /* Увеличен размер шрифта */
    font-weight: 700;
    color: #2c3e50; /* Изменён цвет текста */
}

.text_p2 {
    font-size: 22px; /* Увеличен размер шрифта */
    font-weight: 600; /* Увеличен вес шрифта */
    color: #000000; /* Изменён цвет текста */
}

.general-div{
    display: flex;
    flex-direction: column;

}
.text_p3 {
    font-size: 18px; /* Увеличен размер шрифта */
    font-weight: 500;
    opacity: 0.85; /* Изменена прозрачность */
    color: #8f9fa0; /* Изменён цвет текста */
}

.img {
    float: right;
    
    width: 280px; /* Увеличена ширина */
    height: 280px; /* Увеличена высота */
}

.Temp{
    padding: 0;
    margin: 0;
    gap: 0;
    padding-right: 50px;
}
.weather_card {
    border: 3px solid #ffffff; /* Изменён цвет границы */
    border-radius: 10px; /* Увеличен радиус скругления */
    padding: 20px; /* Увеличен отступ */
    width: 900px;
    background-color: #ffffff; /* Цвет фона остался прежним */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.158);
}

.main {
    width: 1200px; 
    max-height: 900px;
    margin: 0 auto;
    padding: 25px; /* Увеличен отступ */

    border-radius: 30px; 
    margin-top: 20px; 
}

.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    gap: 20px; 
    
}
