.App {
  padding: 100px 100px;
}

.book_pattern {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.pattern {
  display: flex;
  flex-direction: column;
  overflow-y: unset;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 220px;
  max-height: 300px;
}

.text_header {
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

.text_authors {
  font-size: 16px;
  margin: 10px;
}