.buttonbox{
    display:block;
    justify-content: center;
    text-align: center;
}

.buttonbox button{
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    font-size: 12px;
    width: 120px;
    height: 25px;
    margin-bottom: 25px;
}

.buttonbox button::after{
    box-shadow: 0 0 10px;
}

.buttonbox button::before{
    box-shadow: 0 0 10px;
}