* {
    margin: 0;
    padding: 0;
}

.Header1{
    background-image: url("img-20250204/zenith-bg.png");
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12em;
    font-size: large;
    margin-left: 0px;
    background-repeat:repeat;
    background-size: 1500px;
}

html,
body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  flex-grow: 1;
}
.Table-oblast{
  padding-top: 2em;
  border-collapse: collapse;
  border-spacing: 10px 0;  
  padding-right: 4em;
  align-items: center;
  display: flex;
  text-align: center;
}

.Footer{
    background-color: brown;
    width: 100%;
    height: 4em;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    margin-bottom: 0px;
}

.Oblast-razrab{
    padding-top: 3em;
    margin-left: 15%;
}

.Underline{
  border-bottom: 2px solid rgb(196, 196, 196); /* Толщина и цвет линии */
  width: 80%;
            display:flex;
}

.Algorth{
  padding-top: 2em;
  margin-left: 15%;
  flex-wrap:initial;
  flex-grow: 1;
}

.colors{
  height: 20px;
  width: 20px;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Colors p {
  text-align: center;
  width: 215px;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 185px;
}

.Colors ul {
  margin-bottom: 150px;
  margin-top: 2em;
  min-width: 250px;
}

.Colors li {
  padding-right: 4em;
  display: flex;
  vertical-align: middle;
  font-size: 1em;
  line-height: 20px;
  padding-left: 5px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.Colors span1 {
  width: auto; 
  height: auto; 
  background: rgb(172, 171, 171);
  display: inline-block;
  margin-right: 30px;
  padding: 5px; 
}

.Colors span2 {
  width: auto; 
  height: auto; 
  background: rgb(158, 134, 112);
  display: inline-block;
  margin-right: 30px;
  padding: 5px; 
}

.Colors span3 {
  width: auto; 
  height: auto; 
  background: rgb(158, 134, 112);
  display: inline-block;
  margin-right: 30px;
  padding: 5px; 
}

.Colors span4 {
  width: auto; 
  height: auto; 
  background: rgb(212, 120, 34);
  display: inline-block;
  margin-right: 30px;
  padding: 5px; 
}
